# Force GitHub to recognize .class files as Java
*.class linguist-language=Java

# Ignore all files in the 'node_modules' directory (or other non-Java files)
node_modules/* linguist-vendored
*.md linguist-vendored
